@font-face {
  font-family: 'arnold-bocklinc';
  src: url('../font/arnold-bocklinc-font.eot') format('embedded-opentype'),
  url('../font/arnold-bocklinc-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elizabeta-modern';
  src: url('../font/elizabeta-modern-font.eot') format('embedded-opentype'),
  url('../font/elizabeta-modern-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eveagita';
  src: url('../font/eveagita-font.eot') format('embedded-opentype'),
  url('../font/eveagita-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'windsor';
  src: url('../font/windsor-font.eot') format('embedded-opentype'),
  url('../font/windsor-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'goudy-decor-shodwnc';
  src: url('../font/goudy-decor-shodwnc-font.eot') format('embedded-opentype'),
  url('../font/goudy-decor-shodwnc-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'herold-bold';
  src: url('../font/herold-bold-font.eot') format('embedded-opentype'),
  url('../font/herold-bold-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'herold-normal';
  src: url('../font/herold-normal-font.eot') format('embedded-opentype'),
  url('../font/herold-normal-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monti-decor-b';
  src: url('../font/monti-decor-b-font.eot') format('embedded-opentype'),
  url('../font/monti-decor-b-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'petrarka';
  src: url('../font/petrarka-font.eot') format('embedded-opentype'),
  url('../font/petrarka-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proletariat';
  src: url('../font/proletariat-font.eot') format('embedded-opentype'),
  url('../font/proletariat-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rodeo-bold';
  src: url('../font/rodeo-bold-font.eot') format('embedded-opentype'),
  url('../font/rodeo-bold-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
