@mixin text-global{
  font-family: 'Open Sans', sans-serif;
}
@mixin text-arnold-bocklinc {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
}
@mixin text-elizabeta-modern {
  font-family: 'elizabeta-modern';
  font-weight: normal;
  font-style: normal;
}
@mixin text-eveagita {
  font-family: 'eveagita';
  font-weight: normal;
  font-style: normal;
}
@mixin text-windsor {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}
@mixin text-goudy-decor-shodwnc {
  font-family: 'goudy-decor-shodwnc';
  font-weight: normal;
  font-style: normal;
}
@mixin text-rodeo-bold {
  font-family: 'rodeo-bold';
  font-weight: normal;
  font-style: normal;
}
@mixin text-herold-bold {
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
}
@mixin text-herold-normal {
  font-family: 'herold-normal';
  font-weight: normal;
  font-style: normal;
}
@mixin text-monti-decor-b {
  font-family: 'monti-decor-b';
  font-weight: normal;
  font-style: normal;
}
@mixin text-petrarka {
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
}
@mixin text-proletariat {
  font-family: 'proletariat';
  font-weight: normal;
  font-style: normal;
}
