$c-background-d:#f6edd0;
$c-background-dd:#553924;
$c-border-d:#837048;
$c-text-d:#533625;
$c-text-dw:#fffdf2;
$c-text-dg:#7C6742;
$c-body-bg:#FFF5E1;
$c-content-bg:#FFEFD6;
$c-red:#A43722;
$c-white-bg:#FFF7ED;
